<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Your todos</title>
    <style>
        a:link, a:visited {
      background-color: #f44336;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

    a:hover, a:active {
      background-color: red;
    }
    </style>
</head>
<body>
    {% if flag == 1 %}
        <h3>Welcome {{ username }} <a href="login/logout">logout</a></h3>
        <a href="/album">YOUR TODOS</a>
        <a href="/blog">BLOG FEED</a>
        <a href="blogs/manage">MANAGE YOUR BLOGS</a>
    {%  endif %}
    {% if flag == 0 %}
        <h3> Login to Continue to your Todo's</h3>
        <a href="/login">LOGIN</a>

    {% endif %}
</body>
</html>